/*CSS follows a strict format:
selector{
property: value;
poperty: value;
}
The selector tells the browser which element is going to receive the styles rules, that are expressed as a list: 'property:value'. Each property needs to be separated with a semi-colon.
It is possible to select more then one element, just separate them with an comma:
selector 1,
selector 2{
property: value;
}
To select elements with a class use a full stop after the name of the element and write the class name, or just use a full stop and the
class name to apply the style rules to all the elements in that class:
selector.class{
property: value;
}
or
.class{
property: value;
}*/
*{ /*The * selector selects all elements.The box-sizing property defines how the width and height of an element are calculated, in this case it will calculate including the content, padding and border*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif; /*this CSS rule was used to add the font to all the body's page*/
  background-color: #FFFFFF; /*This rule in CSS is used to change the background colour*/
  color: #1B1A17; /*The color rule in CSS is used to change the text colours*/
}

header h1{
  font-size: 9vw;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: -1.8px;
  padding-left: 5vw;
  padding-top: 6vw;
}
header h1 a{
  text-decoration: none;
  color: #1B1A17;
}
.burger{ /*these rules were used to set the position of the burger. The position is absolute which means that the element is positioned relative to its first positioned ancestor element.*/
  display: block;
  cursor: pointer;
  position: absolute;
  top: 10.5vw;
  right: 7vw;
}
.burger div{ /*to create the burger form the divs were set to have a black-ish background and the width and height were set to create the correct size of the two lines of the burger. The border radius was used to round the corners of the lines. The margin sets the space between the lines.*/
  width: 9vw;
  height: 0.6vh;
  background-color: #1B1A17;
  margin: 1vw;
  border-radius: 8px;
}
.relative{
  position: relative;
}
nav{
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: right 0.5s ease-in;
  right: -100%;
}
nav h1{
  font-size: 9vw;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: -1.8px;
  padding-left: 5vw;
  padding-top: 6vw;
}
nav h1 a{
  text-decoration: none;
  color: #1B1A17;
}
.relative{
  position: relative;

}
.navbar{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbar a{
  text-decoration: none;
  color: #1B1A17;
  font-family: 'Playfair Display', serif;
  font-size: 10vw;
  line-height: 55px;
  letter-spacing: -1px;
}
.socialmedialinks{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
#instalogo,
#twitterlogo{
  width: 20%;
}


.aboutp1{
  padding-left: 25px;
  padding-top: 30px;
  margin-right: 50px;

}
.aboutp1 p{
  font-weight: bold;
}
.socialmedialinks2{
  padding-left: 25px;
  padding-top: 15px;
}
#instalogo2{
  width: 7%;
}
#twitterlogo2{
  width: 7%;
  margin-left: 5vw;
}
.maintext{
  margin: 6vw;
}
#me{
  width: 100%;
}

.contacttext{
  padding-left: 25px;
  padding-top: 30px;
}
.contactp{
  font-weight: bold;
  letter-spacing: -0.50px;
  font-size: 5vw;
}
.containerform{ /*the container of the form was styled, a background colour was added as well as a border-radius to round the corners and a
  box-shadow to increase the depth. Its position was set using the margin rule and its width was set to 70%, occupying almost the whole page.*/
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
input[type=text], select, textarea { /*Style inputs with type="text", select elements and textareas*/
  width: 100%;
  padding: 12px;
  border: 1px solid 'black';
  background-color: #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box; /*Added to make sure that padding and width stays in place*/
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /*Allow the user to vertically resize the textarea (not horizontally)*/
}
input[type=submit]{ /*style the submit button a specific background colour and size*/
  background-color: black;
  color: #F6FFFF; /*colour of the text in the button*/
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer; /*the cursor changes to the pointer on the pc view to tell the visitor that it is possible to click on the button.*/
}
#status{ /*styling the status message and put its display to none. Once the button is pressed, with JavaScript, the display is going to change to 'block', showing the message.
A transition was added to ease the the appearance of the phrase.*/
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  display: none;
}
