*{ /*The * selector selects all elements.The box-sizing property defines how the width and height of an element are calculated, in this case it will calculate including the content, padding and border*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif; /*this CSS rule was used to add the font to all the body's page*/
  background-color: #FFFFFF; /*This rule in CSS is used to change the background colour*/
  color: #1B1A17; /*The color rule in CSS is used to change the text colours*/
}


header h1{
  font-size: 4vw;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: -1.8px;
  padding-left: 3vw;
  padding-top: 3vw;
}
header h1 a{
  text-decoration: none;
  color: #1B1A17;
}
.navbar2{ /*sets the top and right values to 0. Then, the display is changed
  to flex, which means now the text is sitting side to side. The justify-content is set to space around to evenly distribute the text in the element.
  The overflow-y is set to 'inherit' to eliminate the rule added in the mobile view.*/
  display: flex;
  top: 0;
  right: 0;
  position: absolute;
  padding-right: 3vw;
  padding-top: 4vw;
  justify-content: space-around;
  overflow-y: inherit;
  list-style: none;
}
.navbar2 a{ /*these rules customize the anchor elements on the first listed items*/
  text-decoration: none;
  color: #1B1A17;
  font-family: 'Playfair Display', serif;
  font-size: 4vw;
  line-height: 55px;
  letter-spacing: -1px;
  margin-right: 4vw;
}
#nav2 ul ul{ /*these rules customize the appearance of the second unlisted item. To make it appear only when it is hovered, the opacity is set to 0
  and visibility is set to hidden. A transition is added so that the ul takes 3s. to appear.*/
  position: absolute;
  top: 80px;
  transition: top .3s;
  padding: inherit;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding-top: 60px;
}
#nav2 ul li:hover > ul{ /*The element>element selector is used to select elements with a specific parent. In this case is the <li> inside the <ul>.
    The opacity and visibility values change to show the <ul>*/
    top: 70px;
    opacity: 1;
    visibility: visible;
}
#nav2 ul li a:hover { /*used to change the colour of the anchor elementes when hovered*/
  opacity: 0.8;
}
#nav2 ul ul li{ /*these rules customize the second list items, being that the ones that appear when hovered. The flex added to the .navbar was
  changed to none so that the text goes down instead of to the sides.*/
  margin-top: 60px;
}
.socialmedialinks{
  position: fixed;
  bottom: 0;
  right: 0;
}
#instalogo,
#twitterlogo{
  width: 100px;
  margin-right: 2vw;
  margin-bottom: 1vw;
}
